.about-us {
  margin: 20px auto;
  font-family: sans-serif;
  display: flex;
}
.about-us h2 {
  font-size: 40px;
  font-weight: 700;
  color: #29a0d3;
  text-align: center;
  padding: 30px 0;
  margin: auto;
  border-bottom: 2px solid #29a0d3;
}
.about-us p {
  line-height: 22px;
  margin-left: 20px;
}
.about_illustration {
  height: 300px;
  width: 300px;
  margin-top: 55px;
}
.about_content_wrapper {
  display: flex;
  flex-direction: column;
}

/*  MEDIA QUERRIES  */
@media (max-width: 760px) {
  .about-us h2 {
    font-size: 24px;
  }
}
