@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
.about-us {
  margin: 20px auto;
  /* font-family: sans-serif; */
}
.about-us p {
  font-family: "Barlow", sans-serif;
  line-height: 28px;
  text-align: justify;
  padding-left: 40px;
  font-size: 18px;
}
.about-us .about-us-div {
  display: flex;
  align-items: center;
}
.about-us img {
  height: 250px;
}

/*  MEDIA QUERRIES  */
@media (max-width: 770px) {
  .about-us img {
    display: none;
  }
  .about-us p {
    padding-left: 0px;
  }
}
@media (max-width: 1000px) {
  .about-us img {
    height: 200px;
  }
}
