.banner-div img,.banner-img-div{
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    width: 310px;
    margin: 92px 30px 0 auto;
    overflow: hidden;
    color: white;
    white-space: nowrap;
}
.banner-div{
    overflow: hidden;
}
.banner-img-div{
    width: 300px;
    margin: 128px 35px 0 auto;
    font-size: 26px;
}
.banner-div p{
    width: fit-content;
    text-size-adjust: 100%;
    padding-left: 280px;
    animation: bannermove-data 30s linear infinite;
    letter-spacing: 1px;
}
@keyframes bannermove-data {
    0% {
        transform: translate(0);
    }
    100% {
        transform: translate(-100%);
    }
}