.gallery {
  margin: 15px auto;
  font-family: sans-serif;
  margin-bottom: 10px;
}
.heading h2 {
  font-size: 40px;
  font-weight: 700;
  color: #29a0d3;
  text-align: center;
  padding: 30px 0 10px;
  margin: 15px;
}
.gallery h2 {
  font-size: 40px;
  font-weight: 700;
  color: #29a0d3;
  text-align: center;
  padding: 30px 0 10px;
}

.control {
  list-style: none;
}
.control li {
  position: absolute;
  z-index: 99;
  margin-top: 140px;
  margin-left: -70px;
  color: white;
  background-color: black;
  padding: 12px 20px;
  border-radius: 50%;
  cursor: pointer;
}
.control li:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.control li.next {
  right: 15px;
}

.thumbnail_img{
 justify-items: center;
 margin-left: 400px;
}
.thumbnail_img ul>img {
  list-style: none;
  display: inline-block;
  margin: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 1px solid #fff
}

.slider {
  height: fit-content;
  padding: 5px;
}
.slider img {
  margin-bottom: 10px;
  width: 400px;
  height: 270px;
}

@media (max-width: 760px) {
  .slider img {
    width: auto;
    height: 250;
    margin: 5px;
  }
  .gallery h2 {
    font-size: 24px;
  }
  .control li.prev {
    background-color: rgba(0, 0, 0, 0.7);
    left: 80px;
    margin-top: 25%;
  }
  .control li.next {
    background-color: rgba(0, 0, 0, 0.7);
    right: 10px;
    margin-top: 25%;
  }
  .thumbnail_img{
    justify-items: center;
    margin-left: 4px;
   }
  .thumbnail_img ul>img {
    list-style: none;
    display: inline-block;
    margin: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: 1px solid #fff
  }
}

@media (max-width: 1000px) {
  .col-sm img {
    width: 90vw;
    height: 60vw;
  }
  .gallery h2 {
    font-size: 24px;
  }
  .control li.prev {
    background-color: rgba(0, 0, 0, 0.7);
  }
  .control li.next {
    background-color: rgba(0, 0, 0, 0.7);
    /* right: 85px; */
  }
  .thumbnail_img{
    justify-items: center;
   }
  .thumbnail_img ul>img {
    display: inline-block;
    margin: 5px;
    right: 30px;
   
  }
}
