.hero_page_wrapper {
  height: 100vh;
}
.event_name {
  font-size: 50px;
  font-weight: 800;
  text-align: center;
}
.event_year {
  color: #29a0d3;
}
.hero_page_main {
  display: flex;
}
.hero_title_wrapper {
  align-self: center;
  margin-left: 15px;
}
.why_us {
  font-size: 40px;
}
.mySwiper {
  width: 50vw;
  height: 50vh;
}
.images {
  width: 50vw;
  height: 50vh;
  object-fit: cover;
}

.hero_title_wrapper {
  flex-grow: 2;
}
