.loading {
  z-index: 1000;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
}
.loading .loader {
  margin: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.loader img{
  width: 200px;
  height: 200px;
  animation: mnkImg 1s ease-out infinite;
  position: relative;
}
@keyframes mnkImg {
  0% {
    bottom: 0px;
  }
  70% {
    bottom: 15px;
  }
  75% {
    bottom: 15px;
  }
  100% {
    bottom: 0px;
  }
}
.loading h4{
  /* font-family: "Barlow", sans-serif; */
  color: #29a0d3;
  text-align: center;
}

