.navbar a{
    text-decoration: none;
    padding: 8px 0;
}
.navbar-brand{
    padding: 0 !important;
}
.navbar.transparent{
    transition: all 0.6s ease-in-out;
    background-color: transparent;
    /* -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px); */
    border-bottom: rgb(0 0 0 / 6%);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    box-shadow: 0px 3px 6px 3px rgb(0 0 0 / 6%);
}
.navbar.solid{
    transition: all 0.6s ease-in-out;
    background-color: #3b3b3bd2 ;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-bottom: rgb(0 0 0 / 6%);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    box-shadow: 0px 3px 6px 3px rgb(0 0 0 / 6%);
}
.navbar.solid .navbar-menu{
    color: #fff;
}
.navbar.solid .navbar-menu:hover, .navbar-menu:hover{
    color: #29A0D3; 
}
.navbar-menu{
    color: #2e2727;
    font-weight: 500;
}
.navbar-menu.active{
    color: #29A0D3 !important;
}
.register-button{
    border-radius: 30px;
    background-color: #29A0D3;
    font-weight: 500;
    border: none;
}
.register-button:hover{
    background-image: linear-gradient(to right, #29A0D3, hsl(280, 87%, 65%));

}
@media (min-width: 992px) {
    .navbar-menu{
        margin-left: 40px;
        position: relative;
        padding-left: 0;
        padding-right: 0;
    }
    .navbar-menu::before{
        content: "";
        position: absolute;
        height: 4px;
        width: 0;
        background-color: #29A0D3;
        bottom: 0;
        border-radius: 30px;
    }
    .navbar-menu:hover::before {
        transition: all 0.3s ease;
        width: 100%;
    }
    .navbar-menu-button{
        margin-left: 40px;
    }
}
@media (max-width: 991px) {
    .navbar-menu,.navbar-menu-button{
        color: #fff;
        background-color: #3b3b3bd2;
        border: 0;
    }
    .navbar.transparent .navbar-menu,.navbar.transparent .navbar-menu-button{
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }
    .navbar.solid .navbar-menu,.navbar.solid .navbar-menu-button{
        background-color: transparent;
    }
}