.slant-div{
    transform: SkewY(-3deg);
}
.slant-divider.before{
    transform: SkewY(-3deg);
}
.slant-divider.after{
    transform: SkewY(-3deg);
}
.slant-div{
    background-color:  #29a0d3;
    min-height: calc(100% + 120px);
    min-width: 100vw;
    z-index: -2;
    position: absolute;
    top: -50px;
}
.slant-divider{
    z-index: 3;
    width: 100vw;
    border-style: solid;
    border-width: 10px calc(clamp(100px, 50vw, 800px));
    margin: 0 -1px;
    position: absolute; 
}
.slant-divider.before{
    border-color: #B5EAEA #B5EAEA #334257  #334257;
    top: -50px;

}
.slant-divider.after{
    border-color: #334257  #334257 #B5EAEA #B5EAEA;
    bottom: -75px;
}