.WhenWhere {
  margin: 100px auto;
  align-items: center;
  height: auto;
  background-color: #fff;
  position: relative;
}
.WhenWhere img {
  width: 15vw;
  margin-top: 30px;
  margin-bottom: 50px;
}
.schedule__img {
  width: 15vw !important;
  margin-top: 8px !important;
}
.info_section {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
}
#h5__1 {
  margin: 135px 0 0 -60px;
  color: #29a0d3;
}
#h5__2 {
  margin: 150px 0 0 -15px;
  color: #29a0d3;
}
#h5__3 {
  margin: 150px 0 0 -50px;
  color: #29a0d3;
}
#h5__3 p {
  font-size: 12px;
  font-family: "Barlow", sans-serif;
}
/* #h5__3:hover {
  cursor: pointer;
  text-decoration: underline;
} */

/* Media */

@media (max-width: 991px) {
  /* .row{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: auto;
        height: fit-content;
    } */
  .WhenWhere img {
    width: 18vw;
    margin: 30px;
  }
  .schedule__img {
    width: 18vw !important;
    /* margin-right:40px ; */
  }
  #h5__1 {
    margin: 40px;
    color: #29a0d3;
    align-items: flex-end;
  }
  #h5__2 {
    margin: 40px;
    color: #29a0d3;
    justify-content: right !important;
  }
  #h5__3 {
    margin: 40px;
    color: #29a0d3;
  }
}
.itenary_schedule {
  width: 100%;
}
@media (max-width: 760px) {
  .WhenWhere {
    justify-content: left !important;
  }
  .WhenWhere h5 {
    text-align: center;
    margin: 20px 0 0 30px;
    font-size: 20px;
  }
  .WhenWhere img {
    width: 20vw;
    margin: 20px;
    justify-content: left;
  }
  /* .modal {
    margin-top: 10px;
    width:300px;
    height: max-content;
  }
  .modal img{
    width:290px;
    height: 500px;
  } */
}
